RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://admin.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mitra.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mitra.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mitra.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mitra.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mitra.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mitra.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mitra.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mitra.warungfinder.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.warungfinder.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.warungfinder.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

